.button {
  background-color: var(--orange-smooth);
  color: var(--orange-base);
  border-radius: 40px;
  line-height: 20px;
  z-index: 99;
}
.button:hover,
.bright {
  background-color: var(--orange-base);
  color: white;
}
.small {
  font-size: 11px;
  padding: 2px 11px;
}
.big {
  font-size: 16px;
  padding: 12px 16px;
}
.secondary {
  color: var(--red-smooth);
  background-color: var(--orange-smooth);
}
