.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: white;
  max-width: 402px;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .container {
    width: fit-content;
  }
}
