.container {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 552px;
  position: relative;
}
.main {
  color: white;
  width: 402px;
  position: relative;
}
@media (max-width: 768px) {
  .container {
    position: static;
  }
  .main {
    width: fit-content;
    margin-bottom: 40px;
  }
}
