* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-size: 16px;
  overflow-y: scroll;
}
button {
  border: none;
  font: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  background-image: url(../img/png/planet.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 30%;
  background-position: 0 56%;
}
.main {
  margin-left: 35vw;
  margin-right: 25vw;
  max-width: 960px;
  padding: 1rem;
}
@media (max-width: 1279px) {
  .body {
    background-size: 32%;
    background-position: 0 40%;
  }
  .main {
    position: static;
    max-width: 600px;
    margin-left: 35vw;
    margin-right: 10vw;
  }
}
@media (max-width: 768px) {
  .body {
    background-size: 60%;
    background-position: -46vw 50%;
  }
  .main {
    position: static;
    margin-left: 20vw;
    margin-right: 6vw;
  }
}
